
ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}


.globalContent {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1
}


code,
pre {
    font-family: monospace;
}



@font-face {
    font-family: Camphor;
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/camphor-ss/300-light-italic.woff2) format('woff2'), url(/fonts/camphor-ss/300-light-italic.woff) format('woff')
}



@font-face {
    font-family: Camphor;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/camphor-ss/400-regular-italic.woff2) format('woff2'), url(/fonts/camphor-ss/400-regular-italic.woff) format('woff')
}


@font-face {
    font-family: Camphor;
    font-weight: 500;
    font-style: italic;
    src: url(/fonts/camphor-ss/500-medium-italic.woff2) format('woff2'), url(/fonts/camphor-ss/500-medium-italic.woff) format('woff')
}


@font-face {
    font-family: Camphor;
    font-weight: 600;
    font-style: italic;
    src: url(/fonts/camphor-ss/600-bold-italic.woff2) format('woff2'), url(/fonts/camphor-ss/600-bold-italic.woff) format('woff')
}

@font-face {
    font-family: Source Code Pro;
    font-weight: 400;
    src: url(/fonts/sourcecodepro-ss/SourceCodePro-Medium.woff2) format('woff2'), url(/fonts/sourcecodepro-ss/SourceCodePro-Medium.woff) format('woff')
}

@font-face {
    font-family: Source Code Pro;
    font-weight: 600;
    src: url(/fonts/sourcecodepro-ss/SourceCodePro-Bold.woff2) format('woff2'), url(/fonts/sourcecodepro-ss/SourceCodePro-Bold.woff) format('woff')
}



.container,
.container-lg {
    max-width: 1170px
}

.common-SuperTitle {
    font-weight: 300;
    font-size: 45px;
    line-height: 60px;
    color: #32325d;
    letter-spacing: -.01em
}

@media (min-width:670px) {
    .common-SuperTitle {
        font-size: 50px;
        line-height: 70px
    }
}

.common-PageTitle {
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
    color: #32325d
}

@media (min-width:670px) {
    .common-PageTitle {
        font-size: 40px;
        line-height: 50px
    }
}

.common-PageSubtitle {
    font-weight: 300;
    font-size: 34px;
    line-height: 43px;
    color: #6772e5
}

@media (min-width:670px) {
    .common-PageSubtitle {
        font-size: 40px;
        line-height: 50px
    }
}

.common-IntroText {
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #525f7f
}

@media (min-width:670px) {
    .common-IntroText {
        font-size: 24px;
        line-height: 36px
    }
}

.common-BodyTitle {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #32325d
}

.common-BodyText {
    /*line-height: 26px;*/
    color: #6b7c93;
    font-weight: 700;
    font-size: 0.85714286em;
}

.common-UppercaseTitle {
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em
}

@media (min-width:670px) {
    .common-UppercaseTitle {
        font-size: 22px;
        line-height: 33px
    }
}

.common-Uppercase {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em
}

.common-AlignRight {
    text-align: right
}

.common-NoWrap {
    white-space: nowrap
}

.common-ProductLockup,
.common-ProductLockupBack {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center
}

@media (min-width:670px) {
    .common-ProductLockup,
    .common-ProductLockupBack {
        font-size: 28px;
        line-height: 38px
    }
}

.common-ProductLockup .icon,
.common-ProductLockupBack .icon {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    margin-right: 20px
}

@media (min-width:670px) {
    .common-ProductLockup .icon,
    .common-ProductLockupBack .icon {
        width: 72px;
        height: 72px
    }
}

.common-ProductLockupBack {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    font-size: 20px;
    -webkit-transition: color .1s;
    transition: color .1s
}

.common-ProductLockupBack:before {
    font: normal 48px/24px StripeIcons;
    content: '\279D';
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 36px;
    text-align: right;
    position: relative;
    top: -6px;
    -webkit-transition: color .1s;
    transition: color .1s
}

.common-ProductLockupBack .icon {
    width: 48px;
    height: 48px
}

.common-ProductLockupBack .hover-fillDark,
.common-ProductLockupBack .hover-fillLight {
    -webkit-transition: fill .1s;
    transition: fill .1s
}

.common-ProductLockupBack .hover-strokeDark,
.common-ProductLockupBack .hover-strokeLight {
    -webkit-transition: stroke .1s;
    transition: stroke .1s
}

.common-ProductLockupBack:hover .hover-fillLight {
    fill: #8898aa
}

.common-ProductLockupBack:hover .hover-fillDark {
    fill: #32325d
}

.common-ProductLockupBack:hover .hover-strokeLight {
    stroke: #8898aa
}

.common-ProductLockupBack:hover .hover-strokeDark {
    stroke: #32325d
}

.common-Link {
    color: #9E3EFF;
    font-weight: 700;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    cursor: pointer
}

.common-Link:hover {
    color: #7f32cc
}

.common-Link:active {
    color: #7f32cc
}

.common-Link--arrow:after {
    font: normal 16px StripeIcons;
    content: '\2192';
    padding-left: 5px
}

.common-Uppercase.common-Link--arrow:after {
    content: '\279C'
}

.common-InvertedText .common-BodyTitle,
.common-InvertedText .common-PageSubtitle,
.common-InvertedText .common-PageTitle,
.common-InvertedText .common-SuperTitle,
.common-InvertedText .common-Uppercase,
.common-InvertedText .common-UppercaseTitle {
    color: #fff
}

.common-InvertedText .common-IntroText {
    color: #c4f0ff
}

.common-InvertedText .common-BodyText {
    color: #9cdbff
}

.common-InvertedText .common-Link,
.common-Link--white {
    color: #fff
}

.common-InvertedText .common-Link:hover,
.common-Link--white:hover {
    color: #c4f0ff
}

.common-InvertedText .common-Link:active,
.common-Link--white:active {
    color: #87bbfd
}

.common-Button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease
}

.common-Button:hover {
    color: #7795f8;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08)
}

.common-Button:active {
    color: #555abf;
    background-color: #f6f9fc;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08)
}

.common-Button--default {
    color: #fff;
    background: #6772e5
}

.common-Button--default:hover {
    color: #fff;
    background-color: #7795f8
}

.common-Button--default:active {
    color: #e6ebf1;
    background-color: #555abf
}

.common-Button--dark {
    color: #fff;
    background: #32325d
}

.common-Button--dark:hover {
    color: #fff;
    background-color: #43458b
}

.common-Button--dark:active {
    color: #e6ebf1;
    background-color: #32325d
}

.common-Button--disabled {
    color: #fff;
    background: #aab7c4;
    pointer-events: none
}

.common-ButtonIcon {
    display: inline;
    margin: 0 5px 0 0;
    position: relative
}

.common-ButtonGroup {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px
}

.common-ButtonGroup .common-Button {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 10px
}

.StripeBackground {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: skewY(-12deg);
            transform: skewY(-12deg);
    pointer-events: none
}

.StripeBackground .stripe {
    position: absolute;
    top: auto;
    left: 0;
    right: 0
}

.StripeBackground .stripe.pattern {
    overflow: hidden
}

.StripeBackground .stripe.pattern:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1000px;
    top: -1000px;
    -webkit-transform: skew(0, 12deg);
            transform: skew(0, 12deg)
}

.common-Card {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07)
}

@media (min-width:880px) {
    .common-Card {
        padding: 50px
    }
}

.common-BetaBadge {
    display: inline;
    position: relative;
    height: 18px;
    margin-left: 11px;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 2px 6px 2px 7px;
    text-transform: uppercase;
    color: #8898aa;
    background-color: rgba(136, 152, 170, .15)
}

.lg-cols,
.lg-grid,
.lg-rows,
.md-cols,
.md-grid,
.md-rows,
.sm-cols,
.sm-grid,
.sm-rows,
.xs-cols,
.xs-grid,
.xs-rows {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: -20px
}

.feature-block {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    padding: 20px;
    position: relative
}

.xs-cols {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row
}

.xs-cols .feature-block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.xs-rows {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column
}

.xs-rows .feature-block {
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.xs-grid {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.xs-grid .feature-block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

@media (min-width:670px) {
    .sm-cols {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row
    }
    .sm-cols .feature-block {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .sm-rows {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column
    }
    .sm-rows .feature-block {
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .sm-grid {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .sm-grid .feature-block {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
}

@media (min-width:880px) {
    .md-cols {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .md-cols .feature-block {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .md-rows {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .md-rows .feature-block {
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .md-grid {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .md-grid .feature-block {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
}

@media (min-width:1040px) {
    .lg-cols {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .lg-cols .feature-block {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .lg-rows {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .lg-rows .feature-block {
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .lg-grid {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .lg-grid .feature-block {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
}

.xs-icon-top .icon {
    margin: 10px 0 20px -3px
}

.xs-icon-left {
    padding-left: 50px
}

.xs-icon-left .icon {
    position: absolute;
    left: -24px;
    top: 7px
}

@media (min-width:670px) {
    .sm-icon-top {
        padding-left: 0
    }
    .sm-icon-top .icon {
        position: static;
        margin: 10px 0 20px -3px
    }
    .sm-icon-left {
        padding-left: 50px
    }
    .sm-icon-left .icon {
        position: absolute;
        left: -24px;
        top: 7px
    }
}

@media (min-width:880px) {
    .md-icon-top {
        padding-left: 0
    }
    .md-icon-top .icon {
        position: static;
        margin: 10px 0 20px -3px
    }
    .md-icon-left {
        padding-left: 50px
    }
    .md-icon-left .icon {
        position: absolute;
        left: -24px;
        top: 7px
    }
}

@media (min-width:1040px) {
    .lg-icon-top {
        padding-left: 0
    }
    .lg-icon-top .icon {
        position: static;
        margin: 10px 0 20px -3px
    }
    .lg-icon-left {
        padding-left: 50px
    }
    .lg-icon-left .icon {
        position: absolute;
        left: -24px;
        top: 7px
    }
}

.feature-block h3,
.feature-block p {
    margin-bottom: 10px
}

.feature-block h3:last-child,
.feature-block p:last-child {
    margin-bottom: 0
}

.feature-block .icon {
    width: 48px;
    height: 48px
}

.common-FlagIcon:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 15px;
    background: url(/img/v3/common/flagIcons.svg?2);
    background-position: -258px -35px;
    vertical-align: -2px;
    margin-right: 12px
}

.common-FlagIcon--at:before {
    background-position: -10px -10px
}

.common-FlagIcon--au:before {
    background-position: -41px -10px
}

.common-FlagIcon--be:before {
    background-position: -72px -10px
}

.common-FlagIcon--br:before {
    background-position: -103px -10px
}

.common-FlagIcon--ca:before {
    background-position: -134px -10px
}

.common-FlagIcon--ch:before {
    background-position: -165px -10px
}

.common-FlagIcon--de:before {
    background-position: -196px -10px
}

.common-FlagIcon--dk:before {
    background-position: -227px -10px
}

.common-FlagIcon--es:before {
    background-position: -258px -10px
}

.common-FlagIcon--fi:before {
    background-position: -289px -10px
}

.common-FlagIcon--fr:before {
    background-position: -320px -10px
}

.common-FlagIcon--gb:before {
    background-position: -351px -10px
}

.common-FlagIcon--hk:before {
    background-position: -382px -10px
}

.common-FlagIcon--ie:before {
    background-position: -413px -10px
}

.common-FlagIcon--it:before {
    background-position: -444px -10px
}

.common-FlagIcon--jp:before {
    background-position: -475px -10px
}

.common-FlagIcon--lu:before {
    background-position: -506px -10px
}

.common-FlagIcon--mx:before {
    background-position: -10px -35px
}

.common-FlagIcon--nl:before {
    background-position: -41px -35px
}

.common-FlagIcon--no:before {
    background-position: -72px -35px
}

.common-FlagIcon--nz:before {
    background-position: -103px -35px
}

.common-FlagIcon--ph:before {
    background-position: -134px -35px
}

.common-FlagIcon--pt:before {
    background-position: -165px -35px
}

.common-FlagIcon--se:before {
    background-position: -196px -35px
}

.common-FlagIcon--sg:before {
    background-position: -227px -35px
}

.common-FlagIcon--us:before {
    background-position: -258px -35px
}

.common-FlagIcon--xx:before {
    background-position: -289px -35px
}

.globalNav {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    z-index: 500;
    height: 50px;
    -webkit-perspective: 2000px;
            perspective: 2000px
}

.globalNav ul {
    padding: 0;
    margin: 0
}

.globalNav li {
    list-style: none
}

.globalNav a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #6772e5;
    -webkit-transition: color .1s;
    transition: color .1s
}

.globalNav a:hover {
    color: #32325d
}

.globalNav>.container-lg {
    padding: 0
}

.globalNav .navRoot {
    position: relative
}

.globalNav .navSection.logo {
    position: absolute;
    top: 0;
    left: 0
}

.globalNav .navSection.primary,
.globalNav .navSection.secondary {
    display: none
}

@media (min-width:670px) {
    .globalNav .navSection.primary,
    .globalNav .navSection.secondary {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex
    }
}

.globalNav .navSection.primary {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center
}

.globalNav .navSection.secondary {
    position: absolute;
    top: 0;
    right: 0
}

.globalNav .navSection.mobile {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end
}

@media (min-width:670px) {
    .globalNav .navSection.mobile {
        display: none
    }
}

.globalNav.compact .navRoot {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex
}

.globalNav.compact .navSection.logo {
    position: static;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1
}

.globalNav.compact .navSection.secondary {
    position: static
}

.globalNav .rootLink {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    padding: 0 10px
}

@media (min-width:670px) {
    .globalNav .rootLink {
        padding: 0 calc(10px + (100vw - 670px) * .040541)
    }
}

@media (min-width:1040px) {
    .globalNav .rootLink {
        padding: 0 25px
    }
}

.globalNav .navSection.logo .rootLink {
    padding-left: 20px!important
}

.globalNav .navSection.secondary .rootLink:last-child {
    padding-right: 20px!important
}

.globalNav .navSection.primary .rootLink {
    font-weight: 500
}

.globalNav .colorize {
    color: #6772e5;
    -webkit-transition: color .1s ease;
    transition: color .1s ease
}

.globalNav .colorize.active,
.globalNav .colorize:hover {
    color: #32325d
}

.globalNav .hasDropdown {
    cursor: default
}

.globalNav .item-home h1 {
    line-height: 50px;
    font-size: 20px;
    margin: 0;
    color: inherit
}

.globalNav .item-home svg {
    vertical-align: -5px
}

.globalNav .item-home svg path {
    fill: currentColor
}

.globalNav .item-dashboard:after {
    font: normal 16px StripeIcons;
    content: '\279E';
    padding-left: 1px
}

.globalNav .dropdownRoot {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50px;
    pointer-events: none;
    -webkit-transform: rotateX(-15deg);
            transform: rotateX(-15deg);
    -webkit-transform-origin: 50% -50px;
            transform-origin: 50% -50px;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
    display: none
}

@media (min-width:670px) {
    .globalNav .dropdownRoot {
        display: block
    }
}

.globalNav.dropdownActive .dropdownRoot {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
            transform: none
}

.globalNav .dropdownBackground {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    width: 520px;
    height: 400px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0
}

.globalNav .alternateBackground,
.globalNav .dropdownBackground {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .25s;
            transition-duration: .25s
}

.globalNav .alternateBackground {
    right: 0;
    height: 1000px;
    background: #f6f9fc
}

.globalNav .dropdownArrow {
    position: absolute;
    top: -6px;
    left: 0;
    margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 4px 0 0 0;
    background: #fff;
    box-shadow: -3px -3px 5px rgba(82, 95, 127, .04);
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .25s;
            transition-duration: .25s
}

.globalNav .dropdownContainer {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    will-change: transform, width, height;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, -webkit-transform;
    transition-property: transform, width, height;
    transition-property: transform, width, height, -webkit-transform;
    -webkit-transition-duration: .25s;
            transition-duration: .25s
}

.globalNav .dropdownSection {
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
    background: red
}

.globalNav .dropdownSection.active {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0)
}

.globalNav .dropdownSection.left {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px)
}

.globalNav .dropdownSection.right {
    -webkit-transform: translateX(150px);
            transform: translateX(150px)
}

.globalNav.dropdownActive .dropdownSection.active {
    pointer-events: auto
}

.globalNav.noDropdownTransition .alternateBackground,
.globalNav.noDropdownTransition .dropdownArrow,
.globalNav.noDropdownTransition .dropdownBackground,
.globalNav.noDropdownTransition .dropdownContainer,
.globalNav.noDropdownTransition .dropdownSection {
    -webkit-transition: none;
    transition: none
}

.globalNav .dropdownContent {
    position: absolute;
    top: 0;
    left: 0
}

.globalNav .linkGroup {
    padding: 20px 35px
}

.globalNav .linkContainer {
    display: block;
    padding: 9px 0
}

.globalNav .linkTitle {
    margin: 0;
    color: #6772e5;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .025em
}

.globalNav .linkSub {
    font-size: 15px;
    line-height: 22px;
    color: #6b7c93;
    margin: 5px 0 0;
    display: block
}

.globalNav .linkSub,
.globalNav .linkTitle {
    -webkit-transition: color .1s;
    transition: color .1s
}

.globalNav .linkContainer:hover .linkTitle,
.globalNav .linkTitle:hover {
    color: #32325d
}

.globalNav .linkContainer:hover .linkSub {
    color: #424770
}

.globalNav .hover-fillDark,
.globalNav .hover-fillLight {
    -webkit-transition: fill .1s;
    transition: fill .1s
}

.globalNav .hover-strokeDark,
.globalNav .hover-strokeLight {
    -webkit-transition: stroke .1s;
    transition: stroke .1s
}

.globalNav .linkContainer:hover .hover-fillLight {
    fill: #8898aa
}

.globalNav .linkContainer:hover .hover-fillDark {
    fill: #32325d
}

.globalNav .linkContainer:hover .hover-strokeLight {
    stroke: #8898aa
}

.globalNav .linkContainer:hover .hover-strokeDark {
    stroke: #32325d
}

.globalNav .linkIcon {
    white-space: nowrap
}

.globalNav .linkIcon svg {
    margin: 0 12px -3px -1px
}

.globalNav .withIcon {
    padding-left: 28px
}

.globalNav .withIcon .linkTitle {
    margin-left: -28px
}

.globalNav .new-badge {
    display: inline-block;
    margin-left: 5px;
    vertical-align: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    font-weight: 700;
    background: #6772e5;
    -webkit-transition: background .15s;
    transition: background .15s;
    border-radius: 10px;
    padding: 0 5px;
    height: auto;
    top: auto;
    box-shadow: none
}

.globalNav .linkContainer:hover .new-badge {
    background: #32325d
}

.globalNav .productsGroup {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 640px;
    max-width: calc(100vw - 85px);
    margin: -5px -10px
}

.globalNav .productsGroup>li {
    -ms-flex: 1 0 50%;
    -webkit-box-flex: 1;
            flex: 1 0 50%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex
}

.globalNav .productsGroup .linkContainer {
    padding: 18px 10px;
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center
}

.globalNav .productsGroup svg {
    width: 48px;
    height: 48px
}

.globalNav .productLinkContent {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
    margin-left: 20px;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-height: 71px
}

.globalNav .prodsubGroup,
.globalNav .productLinkContent {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center
}

.globalNav .prodsubGroup .linkContainer {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding: 13px 30px
}

.globalNav .prodsubGroup .linkSub {
    margin: 0 0 0 10px
}

.globalNav .item-subscriptions .linkTitle {
    color: #24b47e
}

.globalNav .item-connect .linkTitle {
    color: #3297d3
}

.globalNav .item-relay .linkTitle {
    color: #e25950
}

.globalNav .item-atlas .linkTitle {
    color: #e39f48
}

.globalNav .item-radar .linkTitle {
    color: #b76ac4
}

.globalNav .item-radar .new-badge {
    background: #b76ac4
}

.globalNav .documentationGroup .linkSub {
    max-width: 250px
}

.globalNav .documentationArticles {
    font-size: 15px;
    line-height: 26px;
    margin: 15px 20px 10px 28px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    white-space: nowrap
}

.globalNav .documentationArticles>ul {
    margin-right: 40px
}

.globalNav .documentationArticles>ul:last-child {
    margin-right: 0
}

.globalNav .documentationArticles h4 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .025em;
    margin: 0 0 3px;
    color: #8898aa
}

.globalNav .blogPosts {
    margin: 5px 10px 5px 28px
}

.globalNav .blogPosts a {
    display: block;
    white-space: nowrap;
    padding: 5px 0
}

.globalNav .blogPosts a:after {
    content: '\27A2';
    font: normal 16px StripeIcons;
    margin-left: 6px;
    vertical-align: -3px
}

.globalNav .blogPosts .title {
    font-size: 15px;
    line-height: 22px;
    display: inline-block;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top
}

.globalNav .blogPosts .title.new {
    font-weight: 500
}

.globalNav .blogPosts .new-badge {
    vertical-align: -1px
}

.globalNav .blogPosts a:hover .new-badge {
    background: #32325d
}

.globalNav .navSection.mobile .rootLink {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
    padding: 0 30px
}

.globalNav .navSection.mobile .rootLink h2 {
    color: inherit
}

.globalNav .navSection.mobile .rootLink h2,
.globalNav .navSection.mobile .rootLink h2:after,
.globalNav .navSection.mobile .rootLink h2:before {
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background: currentColor
}

.globalNav .navSection.mobile .rootLink h2 {
    font-size: 0;
    left: 13px;
    top: 23px
}

.globalNav .navSection.mobile .rootLink h2:after,
.globalNav .navSection.mobile .rootLink h2:before {
    content: '';
    left: 0
}

.globalNav .navSection.mobile .rootLink h2:before {
    top: -9px
}

.globalNav .navSection.mobile .rootLink h2:after {
    top: 9px
}

.globalNav .popup {
    position: absolute;
    left: 10px;
    top: 5px;
    right: 10px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
    pointer-events: none;
    -webkit-perspective: 2000px;
            perspective: 2000px
}

.globalNav .popupContainer {
    background: #fff;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    line-height: 40px;
    white-space: nowrap;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -webkit-transform: rotate3d(1, 1, 0, -15deg);
            transform: rotate3d(1, 1, 0, -15deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
            transition-duration: .25s
}

.globalNav .navSection.mobile.globalPopupActive .popupContainer {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    pointer-events: auto
}

.globalNav .popup a {
    display: block
}

.globalNav .popupCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer
}

.globalNav .popupCloseButton:after,
.globalNav .popupCloseButton:before {
    content: '';
    position: absolute;
    background: #6772e5;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 24px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: background .1s;
    transition: background .1s
}

.globalNav .popupCloseButton:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
}

.globalNav .popupCloseButton:hover:after,
.globalNav .popupCloseButton:hover:before {
    background: #32325d
}

.globalNav .mobileSignIn {
    background: #f6f9fc;
    display: block;
    padding: 12px 30px;
    font-weight: 600
}

.globalNav .mobileSignIn:after {
    font: normal 16px StripeIcons;
    content: '\279C';
    margin-left: 6px
}

.globalNav .mobileProducts {
    padding: 20px 0 15px
}

.globalNav .mobileProducts h4 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .025em;
    color: #8898aa;
    text-transform: uppercase;
    margin: -5px 0 0 30px
}

.globalNav .mobileProductsList {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.globalNav .mobileProductsList>ul {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1
}

.globalNav .mobileProductsList>ul:last-child {
    -ms-flex-positive: 3;
    -webkit-box-flex: 3;
            flex-grow: 3
}

.globalNav .mobileProductsList a {
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px
}

.globalNav .mobileProductsList a:hover {
    color: #32325d
}

.globalNav .mobileProductsList a svg {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 15px 0 -3px;
    vertical-align: -5px
}

.globalNav .mobileProductsList .item-subscriptions {
    color: #24b47e
}

.globalNav .mobileProductsList .item-connect {
    color: #3297d3
}

.globalNav .mobileProductsList .item-relay {
    color: #e25950
}

.globalNav .mobileProductsList .item-atlas {
    color: #e39f48
}

.globalNav .mobileProductsList .item-radar {
    color: #b76ac4
}

.globalNav .mobileSecondaryNav {
    border-top: 2px solid #f6f9fc;
    padding: 15px 10px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.globalNav .mobileSecondaryNav>ul {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1
}

.globalNav .mobileSecondaryNav>ul:last-child {
    -ms-flex-positive: 3;
    -webkit-box-flex: 3;
            flex-grow: 3
}

.globalNav .mobileSecondaryNav a {
    padding: 0 20px;
    min-width: 100px
}

.productNav {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    z-index: 499;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 0
}

.productNav>.container-lg {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    position: relative
}

.productNav .separator {
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    top: -16px;
    background-color: currentColor;
    opacity: .1
}

.productNav a.home {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    font-weight: 600
}

.productNav a.home svg {
    display: block
}

.productNav a.home span {
    margin-left: 12px
}

.productNav .mask-container {
    margin: 0 -20px 0 20px;
    overflow: hidden;
    -webkit-mask-image: -webkit-linear-gradient(left, transparent, #000 20px, #000 calc(100% - 20px), transparent 100%)
}

.productNav .mask-container,
.productNav ul {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center
}

.productNav ul {
    padding: 0 0 10px;
    margin-bottom: -10px;
    overflow: auto;
    line-height: 30px;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: -webkit-linear-gradient(top, #000, #000 calc(100% - 10px), transparent calc(100% - 10px), transparent 100%)
}

.productNav ul::-webkit-scrollbar {
    display: none
}

.productNav li {
    list-style: none;
    padding: 0 10px
}

.productNav li:first-child {
    padding-left: 20px
}

.productNav li:last-child {
    padding-right: 20px
}

@media (min-width:420px) {
    .productNav li {
        padding: 0 15px
    }
}

@media (min-width:670px) {
    .productNav li {
        padding: 0 20px
    }
}

.productNav a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #6772e5;
    -webkit-transition: color .1s;
    transition: color .1s
}

.productNav a:hover {
    color: #32325d
}

.productNav a.external:after {
    font: normal 16px StripeIcons;
    content: '\279E';
    padding-left: 5px
}

.productNav .colorize {
    color: #6772e5;
    -webkit-transition: color .1s ease;
    transition: color .1s ease
}

.productNav .colorize.active,
.productNav .colorize:hover {
    color: #32325d
}

html[lang=ja] .productNav ul {
    white-space: nowrap
}

.globalFooter {
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f6f9fc;
    position: relative
}

.globalFooter.withCards {
    background: transparent;
    overflow: hidden;
    padding-top: 500px;
    margin-top: -480px;
    pointer-events: none
}

.globalFooter.withCards>* {
    pointer-events: auto;
    position: relative
}

.globalFooter.withCards:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 600px;
    height: 2000px;
    background: #f6f9fc;
    -webkit-transform: skew(0, -12deg);
            transform: skew(0, -12deg)
}

.globalFooterCards .container-xl {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -15px auto;
    padding: 0 5px
}

a.globalFooterCard,
div.globalFooterCard {
    -ms-flex: 1 1 100%;
    -webkit-box-flex: 1;
            flex: 1 1 100%;
    margin: 15px;
    z-index: 499;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    overflow: hidden;
    padding: 40px 40px 40px 120px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
    transition-property: color, background-color, box-shadow, -webkit-transform;
    transition-property: color, background-color, box-shadow, transform;
    transition-property: color, background-color, box-shadow, transform, -webkit-transform;
    -webkit-transition-duration: .15s;
            transition-duration: .15s
}

a.globalFooterCard:after,
div.globalFooterCard:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #aab7c4;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s
}

@media (min-width:670px) {
    a.globalFooterCard,
    div.globalFooterCard {
        -ms-flex-preferred-size: 1%;
        flex-basis: 1%;
        padding-left: 100px
    }
}

@media (min-width:880px) {
    a.globalFooterCard,
    div.globalFooterCard {
        padding-left: 120px
    }
}

a.globalFooterCard:hover,
div.globalFooterCard:hover {
    color: #32325d!important;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07)
}

a.globalFooterCard:active,
div.globalFooterCard:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    box-shadow: 0 11px 20px rgba(50, 50, 93, .1), 0 6px 11px rgba(0, 0, 0, .08)
}

a.globalFooterCard:active:after,
div.globalFooterCard:active:after {
    opacity: .15
}

a.globalFooterCard img,
a.globalFooterCard svg,
div.globalFooterCard img,
div.globalFooterCard svg {
    position: absolute;
    width: 130px;
    height: 130px;
    left: -35px;
    top: calc(50% - 65px)
}

@media (min-width:670px) {
    a.globalFooterCard img,
    a.globalFooterCard svg,
    div.globalFooterCard img,
    div.globalFooterCard svg {
        left: -50px
    }
}

@media (min-width:880px) {
    a.globalFooterCard img,
    a.globalFooterCard svg,
    div.globalFooterCard img,
    div.globalFooterCard svg {
        left: -35px
    }
}

a.globalFooterCard svg .hover-fillDark,
a.globalFooterCard svg .hover-fillLight,
div.globalFooterCard svg .hover-fillDark,
div.globalFooterCard svg .hover-fillLight {
    -webkit-transition: fill .15s;
    transition: fill .15s
}

a.globalFooterCard svg .hover-strokeDark,
a.globalFooterCard svg .hover-strokeLight,
div.globalFooterCard svg .hover-strokeDark,
div.globalFooterCard svg .hover-strokeLight {
    -webkit-transition: stroke .15s;
    transition: stroke .15s
}

a.globalFooterCard:hover svg .hover-fillDark,
div.globalFooterCard:hover svg .hover-fillDark {
    fill: #32325d
}

a.globalFooterCard:hover svg .hover-fillLight,
div.globalFooterCard:hover svg .hover-fillLight {
    fill: #8898aa
}

a.globalFooterCard:hover svg .hover-strokeDark,
div.globalFooterCard:hover svg .hover-strokeDark {
    stroke: #32325d
}

a.globalFooterCard:hover svg .hover-strokeLight,
div.globalFooterCard:hover svg .hover-strokeLight {
    stroke: #8898aa
}

a.globalFooterCard h2,
div.globalFooterCard h2 {
    margin: 0 0 5px;
    white-space: normal
}

a.globalFooterCard p,
div.globalFooterCard p {
    margin: 5px 0 0
}

a.globalFooterCard.card-pricing,
div.globalFooterCard.card-pricing {
    color: #24b47e
}

a.globalFooterCard.card-documentation,
div.globalFooterCard.card-documentation {
    color: #b76ac4
}

a.globalFooterCard.card-subscriptions,
div.globalFooterCard.card-subscriptions {
    color: #24b47e
}

a.globalFooterCard.card-connect,
div.globalFooterCard.card-connect {
    color: #3297d3
}

a.globalFooterCard.card-relay,
div.globalFooterCard.card-relay {
    color: #e25950
}

a.globalFooterCard.card-atlas,
div.globalFooterCard.card-atlas {
    color: #e39f48
}

a.globalFooterCard.card-radar,
div.globalFooterCard.card-radar {
    color: #b76ac4
}

.globalFooterCTA {
    padding: 50px 0;
    border-bottom: 2px solid rgba(207, 215, 223, .25)
}

@media (min-width:670px) {
    .globalFooterCTA .container-lg {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
                align-items: center
    }
}

.globalFooterCTA .buttons,
.globalFooterCTA .content {
    -ms-flex: 1 0 50%;
    -webkit-box-flex: 1;
            flex: 1 0 50%
}

.globalFooterCTA .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #32325d;
    margin: .75em 0
}

.globalFooterCTA .subtitle {
    font-weight: 300;
    color: #6772e5;
    display: block
}

@media (min-width:670px) {
    .globalFooterCTA .common-ButtonGroup {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
                justify-content: flex-end
    }
}

.globalFooterNav {
    padding: 65px 0 55px;
    color: #8898aa;
    line-height: 30px;
    font-size: 15px;
    white-space: nowrap
}

.globalFooterNav ul {
    padding: 0;
    margin: 0
}

.globalFooterNav li {
    list-style: none
}

.globalFooterNav .container-lg {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (min-width:880px) {
    .globalFooterNav .container-lg {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

.globalFooterNav a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color .1s;
    transition: color .1s
}

.globalFooterNav a:hover {
    color: #32325d
}

.globalFooterNav .metaNav {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-positive: 2;
    -webkit-box-flex: 2;
            flex-grow: 2;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px
}

@media (min-width:880px) {
    .globalFooterNav .metaNav {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        margin: 0 0 20px
    }
}

.globalFooterNav .metaNav>li {
    margin-right: 20px
}

.globalFooterNav .metaNav .select {
    position: relative;
    -webkit-perspective: 2000px;
            perspective: 2000px;
    z-index: 499
}

.globalFooterNav .metaNav .rootLink {
    color: #6772e5;
    font-weight: 600;
    cursor: pointer
}

.globalFooterNav .metaNav .rootLink:hover {
    color: #32325d
}

.globalFooterNav .metaNav .rootLink svg {
    display: inline-block;
    vertical-align: -1px;
    margin: 0 7px 0 -2px
}

.globalFooterNav .metaNav .rootLink svg path {
    fill: currentColor
}

.globalFooterNav .metaNav .select.globalPopupActive .rootLink {
    color: #32325d
}

@media (min-width:880px) {
    .globalFooterNav .metaNav .country {
        margin-bottom: 5px
    }
}

.globalFooterNav .metaNav .space {
    -ms-flex-positive: 2;
    -webkit-box-flex: 2;
            flex-grow: 2
}

.globalFooterNav .metaNav .copyright {
    margin-right: 0;
    color: #cfd7df
}

.globalFooterNav .siteNav {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between
}

@media (min-width:670px) {
    .globalFooterNav .siteNav {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media (min-width:880px) {
    .globalFooterNav .siteNav {
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
                flex-grow: 0
    }
}

.globalFooterNav .siteNav .column {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 20px
}

@media (min-width:670px) {
    .globalFooterNav .siteNav .column {
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        margin-right: 40px
    }
}

@media (min-width:880px) {
    .globalFooterNav .siteNav .column {
        margin-right: 30px
    }
}

@media (min-width:1040px) {
    .globalFooterNav .siteNav .column {
        margin-right: 40px
    }
}

.globalFooterNav .siteNav .column:last-child {
    margin-right: 0
}

.globalFooterNav .siteNav .splitColumn {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.globalFooterNav .siteNav li {
    margin-right: 40px
}

.globalFooterNav .siteNav li.long-link {
    margin-right: 20px
}

.globalFooterNav .siteNav .column:last-child li {
    margin-right: 0
}

.globalFooterNav .siteNav h4 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    margin: 0 0 5px
}

.globalFooterNav .siteNav strong {
    font-weight: 500
}

.globalFooterNav .popup {
    position: absolute;
    bottom: 40px;
    left: -5px;
    z-index: 1000;
    font-size: 15px;
    line-height: 26px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    pointer-events: none;
    -webkit-transform: rotate3d(1, 1, 0, 15deg);
            transform: rotate3d(1, 1, 0, 15deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
            transition-duration: .25s
}

@media (min-width:1160px) {
    .globalFooterNav .popup {
        left: -65px
    }
}

.globalFooterNav .popup:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 30px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 20px 0 3px 0;
    background: #fff
}

@media (min-width:1160px) {
    .globalFooterNav .popup:before {
        left: 60px
    }
}

.globalFooterNav .globalPopupActive {
    z-index: 1000!important
}

.globalFooterNav .globalPopupActive .popup {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    pointer-events: auto
}

.globalFooterNav .optionList {
    color: #525f7f;
    white-space: nowrap
}

.globalFooterNav .optionList a {
    border-radius: 4px;
    display: block;
    line-height: 36px;
    padding: 0 15px;
    -webkit-transition: color .1s, background-color .1s;
    transition: color .1s, background-color .1s
}

.globalFooterNav .optionList a:hover {
    background-color: #f6f9fc;
    color: #32325d
}

.globalFooterNav .optionList a:active {
    background-color: #e6ebf1
}

.globalFooterNav .optionList .selected {
    font-weight: 600;
    color: #32325d
}

.globalFooterNav .optionList .selected>span:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    margin: 0 6px 0 -2px;
    background: url(/img/v3/common/footer/select/checkmark.svg)
}

.globalFooterNav .badge {
    font-size: 10px;
    line-height: 10px;
    color: #aab7c4;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-style: normal;
    padding: 2px 3px 1px;
    border-radius: 4px;
    border: 1px solid #e6ebf1;
    display: inline-block;
    vertical-align: 1px;
    margin-left: 8px
}

.globalFooterNav .languagePicker {
    padding: 10px 5px
}

.globalFooterNav .countryPicker {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column
}

.globalFooterNav .countryPicker:before {
    background: #f6f9fc
}

@media (min-width:670px) {
    .globalFooterNav .countryPicker {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row
    }
    .globalFooterNav .countryPicker:before {
        background: #fff
    }
}

.globalFooterNav .columns,
.globalFooterNav .sidebar {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex
}

.globalFooterNav .sidebar {
    background: #f6f9fc;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column
}

@media (min-width:670px) {
    .globalFooterNav .sidebar {
        border-radius: 0 5px 5px 0
    }
}

.globalFooterNav .sidebar .optionList a:hover {
    background-color: rgba(230, 235, 241, .5)
}

.globalFooterNav .sidebar .optionList a:active {
    background-color: rgba(207, 215, 223, .5)
}

.globalFooterNav .countryList {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 25px;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: calc(100vw - 40px);
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.globalFooterNav .countryList h4 {
    margin: 0 0 5px
}

.globalFooterNav .countryList h4 a {
    line-height: 36px;
    padding: 0 15px;
    text-transform: uppercase;
    color: #6772e5;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .025em
}

.globalFooterNav .countryList h4 a:hover {
    color: #32325d
}

.globalFooterNav .countryList h4 a:after {
    font: normal 16px StripeIcons;
    content: '\2192';
    margin-left: 6px
}

.globalFooterNav .globalLink {
    border-top: 2px solid #fff;
    padding: 30px 40px
}

.globalFooterNav .globalLink:hover {
    color: #424770
}

.globalFooterNav .globalLink:hover strong {
    color: #32325d
}

.globalFooterNav .globalLink strong {
    display: block;
    color: #6772e5;
    font-weight: 500;
    -webkit-transition: color .1s;
    transition: color .1s
}

.globalFooterNav .globalLink strong:after {
    font: normal 16px StripeIcons;
    content: '\2192';
    margin-left: 6px
}