<form action="https://maliyo.com/sendy/subscribe" method="POST" accept-charset="utf-8" data-success="Thanks for subscribing.">
    <div class="row">
        <div class="col-sm-12">
            <input type="text" name="name" id="name" placeholder="Your name">
        </div>
        <div class="col-sm-12">
            <input type="email" name="email" id="email" placeholder="Email Address">
        </div>
        <div class="col-sm-12">
            <input type="text" name="PhoneNumber" id="PhoneNumber" s placeholder="Phone Number">
        </div>
        <input type="hidden" name="list" value="u8REWoyrlpmpcfqYVU7633MA" />
        <div class="col-sm-12">
            <button class="btn btn--primary" type="submit" id="submit"><span class="btn__text">Submit Request</span></button>
        </div>
    </div>
    <!--end of row for the form-->
</form>
